<fieldset>
  <legend>Puntos</legend>
  <div class="row">
    <div class="col-xs-12 text-center">
      <fusioncharts
        [id]="id"
        [width]="width"
        [height]="height"
        [type]="type"
        [dataFormat]="dataFormat"
        [dataSource]="dataSource"
      ></fusioncharts>
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>Puntos en directo</legend>
  <div class="row">
    <div class="col-xs-4">
      <p>Yerbinho</p>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let player of playersSrv.yerbinhoLivePoints$ | async">
          {{player.name}} <span class="badge">{{player.points}}</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-4">
      <p>Txarlo Magno</p>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let player of playersSrv.txarloLivePoints$ | async">
          {{player.name}} <span class="badge">{{player.points}}</span>
        </li>
      </ul>
    </div>
    <div class="col-xs-4">
      <p>The Pumpkin</p>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let player of playersSrv.pumpkinLivePoints$ | async">
          {{player.name}} <span class="badge">{{player.points}}</span>
        </li>
      </ul>
    </div>
  </div>
</fieldset>
<fieldset>
  <legend>Datos</legend>
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>Yerbinho</th>
            <th>Txarlo Magno</th>
            <th>The Pumpkin</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Jornadas Ganadas</td>
            <td *ngFor="let score of (playersSrv.scores$ | async)">{{ score.win }}</td>
          </tr>
          <tr>
            <td>Jornadas Perdidas</td>
            <td *ngFor="let score of (playersSrv.scores$ | async)">{{ score.lost }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</fieldset>
