<div class="row">
  <div class="col-xs-12 col-md-4">
    <app-player-points [name]="'Yerbinho'" [players]="playersSrv.yerbinhoLivePoints$ | async"></app-player-points>
  </div>
  <div class="col-xs-12 col-md-4">
    <app-player-points [name]="'Txarlo Magno'" [players]="playersSrv.txarloLivePoints$ | async"></app-player-points>
  </div>
  <div class="col-xs-12 col-md-4">
    <app-player-points [name]="'The Pumpkin'" [players]="playersSrv.pumpkinLivePoints$ | async"></app-player-points>
  </div>
</div>
