<div class="row">
  <div class="col-xs-12">
    <p class="text-center player-title">Yerbinho</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let player of playersSrv.yerbinhoLivePoints$ | async">
        {{player.name}} <span class="badge">{{player.points}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="text-center player-title">Txarlo Magno</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let player of playersSrv.txarloLivePoints$ | async">
        {{player.name}} <span class="badge">{{player.points}}</span>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p class="text-center player-title">The Pumpkin</p>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let player of playersSrv.pumpkinLivePoints$ | async">
        {{player.name}} <span class="badge">{{player.points}}</span>
      </li>
    </ul>
  </div>
</div>
