.navbar.navbar-default {
  background-color: #C73A39;

  & .navbar-toggle {
    & button {
      border-color: #fff;

      & span {
        color: #fff;
      }
    }
  }
}

.navbar-default .nav.navbar-nav {
  background-color: #C73A39;
  margin-top: 0;

  & li a {
    color: #fff;
  }
}

.navbar-header {
  a em {
    color: #fff;
  }
}

.frame {
  padding: 5%
}
